.detail-container {
  border-right: 0.125rem solid white;
  background-color: #d8d9da;
  .detail-image-container {
    width: 100%;
    height: 60vh;
    position: relative;
    .image-container {
      height: inherit;
      width: inherit;
      object-fit: cover;
      filter: blur(0.0625rem);
    }
    .image-sub-container {
      position: absolute;
      width: inherit;
      top: 0rem;
      display: flex;
      .movie-card-container {
        flex: 0.5;
        z-index: 10;
        height: inherit;
        .movie-card-image {
          z-index: 12;
          display: flex;
          justify-content: center;
          padding: 0.75rem;
          width: 100%;
          background: linear-gradient(90deg, black, white, transparent);
          .card-image {
            width: auto;
            height: 57vh;
            border-radius: 0.375rem;
          }
        }
      }
      .movie-detail-container {
        flex: 0.5;
        // width: 12vw;
        color: white;
        background-color: transparent;
        backdrop-filter: blur(0.1875rem);
        .movie-label {
          // color: white;
          font-weight: 700;
          font-size: 48px;
          stroke: 0.3125rem solid black;
          font-family: sans-serif;
          padding: 0.3125rem;
        }
        .tag-line {
          .tag-line {
            font-weight: 500;
            font-size: 1rem;
          }
        }
        .facts {
          display: flex;
          padding: 0.3125rem;
          .movie-certification {
            display: flex;
            margin-right: 0.1875rem;
            justify-content: space-between;
            font-size: 1rem;
            font-weight: 700;
            .certification-prefix {
              background-color: white;
              color: black;
              border-radius: 0.25rem;
              font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
              font-weight: 600;
              padding-left: 0.125rem;
              padding-right: 0.125rem;
              font-weight: 700;
            }
          }
          .movie-release-date {
            font-size: 1rem;
            // font-weight: 700;
          }

          .movie-genere {
            display: flex;
          }
          .movie-time {
            display: flex;
            gap: 8px;
            .movie-hr-min {
            }
          }
        }
        .rating-and-action-details {
          padding: 0.3125rem;
          display: flex;
          .rating {
            .fa-star {
              color: goldenrod;
            }
            .rating-label {
              font-weight: 700;
              font-size: 1rem;
            }
          }
          .btn-container {
            display: flex;
            justify-content: space-around;
            gap: 16px;
            .favorite-list {
              @extend .action-buttons;
            }
            .like-button {
              @extend .action-buttons;
              &:hover {
                .Fa-heart {
                  transform: scale(1.5);
                }
              }
            }
            .create-list {
              @extend .action-buttons;
            }
          }
          .play-trailer {
            display: flex;
            align-items: center;
            gap: 0.3rem;
            padding: 5px;
            .play-btn {
              background: transparent;
              border: none;
              color: white;
            }
            .play-title {
              font-weight: 700;
              font-size: 16px;
              cursor: pointer;
            }
          }
        }
        .movie-description {
          .overview-label {
            font-weight: 700;
            font-size: 1.125rem;
          }
          .description {
            font-size: 0.875rem;
          }
        }
      }
    }
    .fa-cross {
      position: absolute;
      left: 96%;
      font-size: 1.875rem;
      color: grey;
      &:hover {
        color: white;
      }
    }
  }
  .detail-information-container {
    position: relative;
  }
  .side-bar-container {
    width: 20%;
    background-color: transparent;
    backdrop-filter: blur(5px);
    z-index: 13;
    top: 0px;
    right: 0px;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
    .sidebar-wrapper {
      padding: 1rem;
      top: 0px;
      right: 0px;
      z-index: 14;
      width: 90%;
      height: 100%;
      border-radius: 6px;
      background-color: white;

      .social-links-container {
        font-size: 30px;
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
      }
      .labels-conatiner {
        .title {
          font-weight: 600;
          font-size: 18px;
          color: black;
          opacity: 0.7;
        }
        .value {
          font-size: 14px;
        }
      }
    }
  }
  .top-cast-container {
    padding: 0.3125rem;
    font-size: 0.875rem;
    width: 80%;
    margin: 0.0625rem auto;
    .top-cast-title {
      font-size: 1.375rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    .credit-main-container {
      display: flex;
      gap: 16px;
      width: 80vw;
      overflow: auto;
      .credit-container {
        border: 0.0625rem solid grey;
        border-radius: 0.375rem;
        .credit-image {
          border-radius: 0.375rem;
          .cast-profile-image {
            height: 23vh;
          }
        }
        .label-container {
          padding: 0.3125rem;
          display: block;
          .cast-name {
            font-size: 1rem;
            font-weight: 700;
            color: black;
          }
          .cast-character {
          }
        }
      }
    }
    .full-cast-crew-label {
      font-weight: 600;
      font-size: 1.1em;
      margin-top: 1rem;
    }
  }
  .movie-collection-container {
    padding: 5px;
    width: 80%;
    margin: auto;
    .collection-heading {
      font-weight: 600;
      font-size: 1.375rem;
      margin-bottom: 1rem;
    }
    .collection-image-card {
      height: 25vh;
      border: 1px solid white;
      border-radius: 6px;
      position: relative;
      .collection-image {
        height: inherit;
        object-fit: cover;
        object-position: top;
        width: 100%;
        border-radius: 6px;
      }
      .collection-overlay-container {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
      }
      .collection-label {
        font-weight: 700;
        font-size: 1.125rem;
        color: white;
      }
      .collection-subtext {
        font-size: 0.875rem;
        color: white;
      }
      .collection-btn {
        width: 100%;
        padding: 5px;
        color: white;
        background-color: #35155d;
        border: 1px solid #512b81;
        border-radius: 6px;
      }
    }
  }

  .media-container {
    width: 80%;
    margin: auto;
    .nav-label-container {
      display: flex;
      align-items: center;
      width: 100%;
      // justify-content: space-between;
      .media-heading {
        font-weight: 600;
        font-size: 1.375rem;
        margin-bottom: 1rem;
      }
      .nav-container {
        .nav-list {
          text-decoration: none;
          list-style-type: none;
          display: flex;
          gap: 1rem;
          cursor: pointer;
          .nav-items {
          }
        }
      }
    }
    .media-card-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      overflow-x: auto;
      .media-image {
        // width: 100%;
        height: 18vh;
      }
    }
  }
}

.action-buttons {
  border-radius: 50%;
  background-color: #35155d;
  border: 0.125rem solid #512b81;
  display: flex;
  align-items: center;
  color: #d8d9da;
  padding: 8px;
}

.play-container {
  position: absolute;
  top: 30%;
  width: auto;
  left: 40%;
  z-index: 13;
  // transform: translate(-50%);
  .fa-cancle {
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    font-size: 22px;
  }
}

@media screen and (max-width: 29.5rem) {
  .detail-container {
    border-right: 0.125rem solid white;
    background-color: #d8d9da;
    height: auto;
    .detail-image-container {
      width: 100%;
      height: 50vh;
      position: relative;
      .image-container {
        height: inherit;
        width: inherit;
        object-fit: cover;
      }
      .fa-cross {
        position: absolute;
        left: 90%;
        font-size: 1.875rem;
        color: grey;
        &:hover {
          color: white;
        }
      }
    }
  }
}
