.about-main-container {
  height: 91vh;
  // background-color: black;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .about-inner-container {
    height: fit-content;
    width: 60%;
    border: 1px solid grey;
    box-shadow: grey 2px 2px 2px 2px;
    padding: 8px;
    background-color: #61677a;
    // position: relative;
    border-radius: 6px;
    .logo {
      font-size: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      //   position: absolute;
      .fist-half {
        text-transform: uppercase;
        letter-spacing: 4px;
      }
      .m {
        color: #ffff;
      }
      .fa-smile {
        color: goldenrod;
      }
      .react-movie-logo {
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(90deg, purple, red);
        font-weight: 600;
      }
    }
    .info {
      // position: absolute;
      padding: 12px;
      text-align: center;
      font-size: 1rem;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      .email-section {
        display: flex;
        align-items: center;
      }
      .resume-btn {
        border-radius: 6px;
        border: 1px solid #61677a;
        background-color: #adc4ce;
        font-weight: 700;
        padding: 5px;
      }
    }
  }
}
